/**table样式**/
.el-table thead{
    background-color: #F6F7FB;
}
.el-table th, .el-table tr {
    background-color: transparent;
}
.el-table .cell{
    white-space: nowrap;
}
/**左边菜单栏**/
.el-menu-item.is-active {
    background-color: #F6F7FB;
    border-left: 5px solid #409EFF;
}
a.active li {
    color: #409eff;
    background-color: #f6f7fb;
    border-left: 5px solid #409eff;
}
/**分页**/
.search-pagination {
    margin-top: 20px;
    text-align: center;
}
/**弹出框**/

.light-dialog {
    .el-dialog__header {
        background-color: #F7FAFF;
        height: 16px;
        padding: 16px 19px;
    }
    .el-dialog__title {
        font-size: 16px;
        color: #434F68;
        line-height: 16px;
    }
    
    .el-dialog__body {
        padding: 25px 40px;
    }
    
    .el-dialog__headerbtn .el-dialog__close {
        color: #5F7094 !important;
    }
}
.el-dialog__wrapper {
    min-width: 1280px;   
}
.el-dialog__header {
    background-color: #3B84F2;
    //height: 16px;
    padding: 15px 18px;
}

.el-dialog__title {
    font-size: 16px;
    color: #FFFFFF;
    line-height: 16px;
}

.el-dialog__body {
    padding: 25px 49px;
}

.el-dialog__headerbtn .el-dialog__close {
    color: #FFFFFF !important;
}

.el-dialog__headerbtn {
    font-size: 23px;
    top: 12px;
}
.el-form-item__content {
    .el-input--nenv  {
        //width: 194px;  
    }
    //width: 200px;
}

.el-form-item__label {
    &:after {
        content: ' :'
    }
}
/**消息框**/
.el-message{
    top: 50%;
}
/**分页**/
.el-pager li{
    font-weight: normal;
}
.el-pagination__jump{
    margin-right:10px;
}


.el-select {
    width: 100%;
}

.el-table th {
    padding: 11px 0;
    font-weight: normal;
    //text-align: center;
}
.el-table td {
    padding: 3px 0;
}

.el-table .sort-caret.ascending {
    top: 0;
}

.el-table .caret-wrapper {
    height: 24px;
}

.el-table .sort-caret.descending {
    bottom: 1px;
}


.el-input__inner {
    height: 36px;
}

.el-button {
    height: 36px;
    padding: 10px 20px;
}


.el-table .el-button {
    height: 28px;
    padding: 6px 20px;
}

.el-table .el-tag {
    height: 28px;
    line-height: 26px;
}